name: Release prebuilt binary

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
    name: release ${{ matrix.goos }}/${{ matrix.goarch }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: fourdollars/go-release-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        md5sum: false
        sha256sum: true
        overwrite: true
